<!-- inherit from base.html-->
{% extends "santa_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>All WishList Items</h1>

<p></p>
<p>Sometimes, secret santa is hard. Trying to buy a present for someone you don't know too well can be a challenge.</p>
<p></p>
<p>This website is for those wanting to get a gift someone will actually want.</p>
<p></p>
<p>Click the items tab to see what people are asking for this holiday season!</p>
<p>Or login to let your Santa know just what you want!</p>

{% endblock %}
