{% extends 'santa_app/base_template.html' %}

{% block content %}
    <h1>Wish List</h1>
    <!-- Big Create button  -->
    <a class="btn btn-info btn-block" href="{% url 'create_item' %}">Create Item</a>
    <p></p>

    {% if item_list %}
    <!-- Want to organize into table instead of unordered list later  -->
    <!-- Resource: https://getbootstrap.com/docs/4.0/content/tables/ -->
    <!-- I like the lood created from the videos so going with that -->
    <!-- Videos: https://www.youtube.com/watch?v=7a23TbUXfWE&list=PL-51WBLyFTg2vW-_6XBoUpE7vpmoR3ztO&index=8  -->
    <table class="table">

        <!-- Table Catagories  -->
        <thead class="thead-light">
            <tr>
                <th scope="col">Recipient</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Price</th>
                <th scope="col">Item Website</th>
                <th scope="col">Update Item</th>
                <th scope="col">Remove Item</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
                <tr>
                    <td>ME!</td>
                    <td><a class="btn btn-small btn-info btn-block" href="{{ item.get_absolute_url }}">{{item.title}}</a></td>
                    <td>{{item.price}}</td>
                    <td>{{item.website_found}}</td>
                    <td><a class="btn btn-small btn-info btn-block" href="{% url 'update_item' item.id %}">Update</a></td>
                    <td><a class="btn btn-small btn-danger btn-block" href="{% url 'delete_item' item.id %}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% else %}
        <p>There are no items registered.</p>
    {% endif %}
{% endblock %}